body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #001b75, #12186b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 20px;
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #6200ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3700b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}