body{
    min-height: 100vh;
    background: url(/frontend/img/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.5em;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li a{
    color: white;
}

a:hover{color:  #ffeba7;}