body{
    min-height: 100vh;
    background: url(/img/background.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 1.5em;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul li a{
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transform: 0.2s;

}

nav ul li a:hover{
    color: black;
    background: #ffeba7;
    box-shadow: 0 0 10px #ffeba7, 0 0 20px
    #ffeba7, 0 0 40px #ffeba7;
    transition-delay: 1ms;
}

